@import "@/style/index.scss";

.container {
  padding: 0 10vw;
  @include d-flex-column;
  gap: 5rem;
  &__header {
    @include d-flex;
    &__content {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 2.5rem;
      @media screen and (min-width: $tablet) {
        font-size: 3rem;
      }
    }
  }
  &__postsWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    &__postCard {
      @include d-flex-column;
      gap: 2rem;
      &__imageSection {
        @include d-flex;
        &__img {
          border-radius: 1rem;
        }
      }
      &__contentSection {
        @include d-flex-column;
        gap: 0.7rem;
        padding: 0 .5rem;
        &__title {
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-style: normal;
          font-size: 1.4rem;
          color: $dark;
        }
        &__description {
          font-weight: 300;
          line-height: 24px;
          font-size: 1rem;
          color: $grey;
        }
      }
      &__authorSection {
        @include d-flex;
        gap: 0.7rem;
        &__avatar {
          border-radius: 50%;
        }
        &__dot {
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 100%;
          background-color: $black;
        }
        &__name,
        &__date {
          font-size: 0.8rem;
          color: $dark-grey;
        }
      }
    }
  }
  &__button {
    @include d-flex;
    &__btn {
      margin-top: 1rem;
      @include btn();
      transition: scale, background-color, color, border, 0.7s;
      will-change: scale, background-color, color, border;
    }
    &__btn:hover {
      scale: $hover-med-scale;
      background-color: transparent;
      color: $light-blue;
      border: 1px solid $light-blue;
    }
  }
}
