@import "@/style/index.scss";

.container {
  &__content {
    padding: 5vh 10vw;
    position: relative;
    @media screen and (min-width: $desktop) {
      padding: 5vh 15vw;
    }
  }
  &__imageSection {
    padding: 0 10vw;
    padding-top: 3vh;
    @media screen and (min-width: $desktop) {
      padding: 0vh 15vw;
      padding-top: 7vh;
    }
    &__img {
      border-radius: 1rem;
      width: 100%;
      height: 35vh;
      @media screen and (min-width: $big-tablet) {
        height: 55vh;
      }
    }
  }
  &__headerSection {
    @include d-flex-column;
    align-items: flex-start;
    gap: 5vh;
    margin: 1vh 0;
    @media screen and (min-width: $desktop) {
      width: 70%;
    }
    &__postInfo {
      @include d-flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      color: $grey;
      font-size: 0.8rem;
      justify-content: flex-start;
      &__avatar {
        border-radius: 100%;
      }
    }
  }
  &__tableOfContents {
    position: absolute;
    top: 10vh;
    right: 15vw;
    @include d-flex-column;
    align-items: flex-start;
    display: none;
    box-shadow: $box-shadow;
    padding: 1.5rem;
    border-radius: 0.7rem;
    @media screen and (min-width: $desktop) {
      display: flex;
    }
    &__caption {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 1.4rem;
      line-height: 6vh;
      @media screen and (min-width: $tablet) {
        font-size: 1.7rem;
      }
    }
    &__listItems {
      @include d-flex-column;
      align-items: flex-start;
      gap: 0.3rem;
      &__item {
        cursor: pointer;
        font-size: 1.025rem;
        color: $dark-grey;
        transition: color, 0.7s;
        will-change: color;
      }
      &__item_active {
        color: $dark-blue;
      }
      &__item:hover {
        color: $dark-blue;
      }
    }
  }
  &__postContentSection {
    width: 100%;
    margin: 5vh 0;
    &__text {
      margin-top: 5vh;
      font-size: 1.25rem;
      color: $dark-grey;
      line-height: 3.5vh;
      font-weight: 300;
    }
    @media screen and (min-width: $desktop) {
      width: 70%;
    }
  }
  &__similarPosts {
    margin-bottom: 5vh;
    &__posts {
      margin-top: 5vh;
      @include d-flex-column;
      gap: 3rem;
      @media screen and (min-width: $desktop) {
        @include d-flex;
        justify-content: flex-start;
      }
    }
  }
}
